


  .div {
    background-color: rgba(255, 247, 242, 1);
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    background-color: #6b1523;
    min-height: 143px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    z-index: 10;
    margin-top: -104px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-4 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 22%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-5 {
    background-color: rgba(172, 124, 90, 0.45);
    display: flex;
    margin-top: 104px;
    flex-grow: 1;
    flex-direction: column;
    font-size: 48px;
    color: #6b1523;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 43px 10px 80px;
  }
  @media (max-width: 991px) {
    .div-5 {
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .menuNonclicked {
    font-family: Righteous, sans-serif;
    font-size: 30px;
    border-radius: 40px;
    border-color: rgba(129, 64, 64, 1);
    border-style: solid;
    border-width: 5px;
    background-color: rgba(241, 240, 239, 0.3);
    align-items: center;

    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
  }
  @media (max-width: 991px) {
    .menuNonclicked {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .menuClicked {
    font-family: Righteous, sans-serif;
    border-radius: 40px;
    border-color: rgba(129, 64, 64, 1);
    border-style: solid;
    border-width: 5px;
    background-color: rgba(241, 240, 239, 0.3);
    margin-top: 20px;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 49px 60px;
  }
  @media (max-width: 991px) {
    .menuClicked {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }

  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 78%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-11 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .div-13 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-13 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 80%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .img {
    aspect-ratio: 2.56;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 165px;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-14 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-14 {
      margin-top: 40px;
    }
  }
  .div-15 {
    border-radius: 50px;
    border-color: rgba(107, 21, 35, 1);
    border-style: solid;
    border-width: 34px;
    background-color: #897171;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px 0;
  }
  @media (max-width: 991px) {
    .div-15 {
      padding-right: 20px;
    }
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 192px;
    max-width: 100%;
  }
  .div-16 {
    color: #6b1523;
    text-align: center;
    align-self: center;
    margin-top: 11px;
    font: 400 48px Righteous, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      font-size: 40px;
    }
  }
  .div-17 {
    align-self: start;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin: 68px 0 0 76px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .div-18 {
    color: #999;
    font-family: Fira Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-19 {
    color: #939393;
    font-family: Fira Sans, sans-serif;
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  /* Proper CS, convert home page later */


  .container {
    background-color: rgba(255, 247, 242, 1);
    display: flex;
    flex-direction: column;
  }

  .header {
    background-color: #6b1523;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  .logo {
    aspect-ratio: 2.56;
    object-fit: auto;
    object-position: center;
    width: 302px;
    max-width: 60%;
    padding-left: 20px;
    alt: "Melodi logo";
  }

  .main-content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 18px;
  }

  @media (max-width: 991px) {
    .main-content {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .sidebar {
    align-self: end;
    flex-grow: 1;
    flex-basis: auto;
  }

  @media (max-width: 991px) {
    .sidebar {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .sidebar-content {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .sidebar-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .sidebar-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .sidebar-column {
      width: 100%;
    }
  }

  .sidebar-menu {
    background-color: rgba(172, 124, 90, 0.45);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 48px;
    color: #6b1523;
    font-weight: 400;
    text-align: center;
    width: 250px;
    padding: 44px 10px 80px;
  }

  @media (max-width: 991px) {
    .sidebar-menu {
      font-size: 40px;
    }
  }

  .menu-item-play {
    font-family: Righteous, sans-serif;
    border-radius: 40px;
    border: 5px solid rgba(129, 64, 64, 1);
    background-color: rgba(241, 240, 239, 0.3);
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 44px 60px;
  }

  @media (max-width: 991px) {
    .menu-item-play {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }

  .menu-item-learn {
    font-family: Righteous, sans-serif;
    border-radius: 40px;
    border: 5px solid rgba(107, 21, 35, 1);
    background-color: rgba(241, 240, 239, 0.3);
    margin-top: 20px;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 49px 60px;
  }

  @media (max-width: 991px) {
    .menu-item-learn {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }

  .menu-item-chat {
    font-family: Righteous, sans-serif;
    border-radius: 40px;
    border: 5px solid rgba(129, 64, 64, 1);
    background-color: rgba(241, 240, 239, 0.3);
    margin-top: 20px;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 48px 60px;
  }

  @media (max-width: 991px) {
    .menu-item-chat {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }

  .menu-item-leaderboard {
    font-family: Righteous, sans-serif;
    border-radius: 40px;
    border: 5px solid rgba(129, 64, 64, 1);
    background-color: rgba(241, 240, 239, 0.3);
    margin-top: 20px;
    justify-content: center;
    padding: 48px 27px;
  }

  @media (max-width: 991px) {
    .menu-item-leaderboard {
      font-size: 40px;
      padding: 0 20px;
    }
  }

  .menu-item-profile {
    font-family: Righteous, sans-serif;
    border-radius: 40px;
    border: 5px solid rgba(129, 64, 64, 1);
    background-color: rgba(241, 240, 239, 0.3);
    margin-top: 20px;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 47px 60px;
  }

  @media (max-width: 991px) {
    .menu-item-profile {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }

  .main-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 76%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .main-column {
      width: 100%;
    }
  }

  .main-content-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  @media (max-width: 991px) {
    .main-content-wrapper {
      max-width: 100%;
    }
  }

  .main-content-header {
    background-color: #fff7f2;
    height: 80px;
  }

  @media (max-width: 991px) {
    .main-content-header {
      max-width: 100%;
    }
  }

  .main-content-divider {
    border: 4px solid rgba(151, 151, 151, 1);
    background-color: #979797;
   
    width: 100%;
    max-width: 100%;
    height: 4px;
  }

  .main-content-body {
    background-color: #fff7f2;
    height: 919px;
  }

  @media (max-width: 991px) {
    .main-content-body {
      max-width: 100%;
    }
  }

  .user-profile {
    align-self: start;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: -80px;
    margin-right: 10%;
    
  }

  .user-avatar {
    border-radius: 50px;
    border: 24px solid rgba(107, 21, 35, 1);
    background-color: rgba(107, 21, 35, 1);
    fill:rgba(107, 21, 35, 1);
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  @media (max-width: 991px) {
    .user-avatar {
      padding-right: 20px;
    }
  }

  .user-avatar-image {
    
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 120px;
    alt: "User avatar";
  }

  .user-name {
    color: #6b1523;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    font: 400 48px Righteous, sans-serif;
  }

  @media (max-width: 991px) {
    .user-name {
      font-size: 40px;
    }
  }

  .title-text {
    color: #6b1523;
    text-align: center;
    align-self: center;
  
    font: 400 80px Righteous, sans-serif;
  }

  .game {
    display: flex;
    flex-direction: column;
  }
  .game-2 {
    width: 100%;
  }
  @media (max-width: 991px) {
    .game-2 {
      max-width: 100%;
    }
  }
  .game-3 {
    gap: 300px;
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 200px;
  }
  @media (max-width: 991px) {
    .game-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .game-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .game-column {
      width: 100%;
    }
  }
  .game-4 {
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(129, 64, 64, 1);
    border-style: solid;
    border-width: 7px;
    background-color: #ffc4c0;
    flex-grow: 1;
    align-items: center;
    color: #550814;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 52px 60px;
    font: 400 64px Righteous, sans-serif;
  }
  @media (max-width: 991px) {
    .game-4 {
      font-size: 40px;
      max-width: 100%;
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .game-column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .game-column-2 {
      width: 100%;
    }
  }
  .game-5 {
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(129, 64, 64, 1);
    border-style: solid;
    border-width: 7px;
    background-color: #ffc4c0;
    flex-grow: 1;
    align-items: center;
    color: #550814;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 47px 60px;
    font: 400 64px Righteous, sans-serif;
  }
  @media (max-width: 991px) {
    .game-5 {
      font-size: 40px;
      max-width: 100%;
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .game-6 {
    margin-top: 68px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .game-6 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .game-7 {
    gap: 300px;
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 200px;
  }
  @media (max-width: 991px) {
    .game-7 {
      flex-direction: column;
      align-items: stretch;
      gap: 50px;
    }
  }
  .game-8 {
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(129, 64, 64, 1);
    border-style: solid;
    border-width: 7px;
    background-color: #ffc4c0;
    flex-grow: 1;
    align-items: center;
    color: #550814;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 44px 60px;
    font: 400 64px Righteous, sans-serif;
  }
  @media (max-width: 991px) {
    .game-8 {
      font-size: 40px;
      max-width: 100%;
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .game-column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .game-column-3 {
      width: 100%;
    }
  }
  .game-9 {
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(129, 64, 64, 1);
    border-style: solid;
    border-width: 7px;
    background-color: #ffc4c0;
    flex-grow: 1;
    align-items: center;
    color: #550814;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 51px 60px;
    font: 400 64px Righteous, sans-serif;
  }
  @media (max-width: 991px) {
    .div-9 {
      font-size: 40px;
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  .lesson {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left:  100px;
    margin-right: 100px;
    font-family: Righteous, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    
  }
  .lesson-2 {
    border-radius: 50px;
    border-color: rgba(154, 79, 79, 0.29);
    border-style: solid;
    border-width: 7px;
    background-color: #e0cfc1;
    min-height: 147px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .lesson-2 {
      max-width: 100%;
    }
  }
  .lesson-3 {
    border-radius: 50px;
    border-color: rgba(154, 79, 79, 0.29);
    border-style: solid;
    border-width: 7px;
    background-color: #e0cfc1;
    min-height: 150px;
    margin-top: 30px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .lesson-3 {
      max-width: 100%;
    }
  }
  .lesson-4 {
    border-radius: 50px;
    border-color: rgba(154, 79, 79, 0.29);
    border-style: solid;
    border-width: 7px;
    background-color: #e0cfc1;
    min-height: 151px;
    margin-top: 30px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .lesson-4 {
      max-width: 100%;
    }
  }
  .lesson-5 {
    border-radius: 50px;
    background-color: rgba(224, 207, 193, 1);
    border-color: rgba(154, 79, 79, 0.29);
    border-style: solid;
    border-width: 7px;
    min-height: 150px;
    margin-top: 30px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
    }
  }